registry=https://registry.npmjs.org/
strict-peer-dependencies=false
auto-install-peers=false
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-timeout=120000
network-concurrency=4
enable-pre-post-scripts=false
side-effects-cache=false
unsafe-perm=true