registry=https://registry.npmjs.org/
strict-peer-dependencies=false
auto-install-peers=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=180000
# Disable HTTP/2 to avoid ERR_INVALID_THIS
enable-pre-post-scripts=false